/*SUPERSNYGG BAKGRUNDFÄRG*/
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 246, 240);
    color: black;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5em;
}

input{
    margin-bottom: 10px;
}

label{
    font-size: 1em;
}

#completed{
    width: 20px;
    height: 20px;
}

#task{
    width: 300px;
    max-width: 95%;
    height: 50px;
    margin-bottom: 10px;
}

select{
    font-size: 1em;
}

option{
    font-size: 1.1em;
}

/*begränsar vidd på main*/
main{
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*responsivt formulär*/
form{
    width: 450px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.2);
    padding: 40px;

}

/*Styling av knappar*/
button{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    font-size: 1.1em;
    box-shadow: 3px 3px 3px 2px rgb(0, 0, 0, 0.2);
    margin-left: 5px;
    margin-right: 5px;
    /*För att knapptext ska visas korrekt i safari på iphone*/
    -webkit-text-fill-color:black;
    margin-top: 10px;
    display: block;
}

/*Hover effekt till knappar*/
button:hover{
    background-color: rgb(201, 214, 223);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}

#empty-localstorage{
    background-color: rgb(255, 183, 183);
}

#empty-localstorage:hover, .remove-todo:hover{
    background-color: rgb(255, 137, 137);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}

.remove-todo{
    float: right;
    bottom: 0px;
}

.inline{
    display: inline-block;
    position: relative;
    bottom: -15px;
}

.priority1 p, .priority2 p, .priority3 p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.priority{
    margin-right: 50px;
    position: relative;

}



/*styling av div till inläggen*/
.priority1, .priority2, .priority3{
    background-color:  rgba(0, 0, 0, 0.733);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    max-width: 450px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#todo-btn{
    margin-right: 40px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}

/*hover effekt*/
.priority1:hover, .priority2:hover, .priority3:hover{
    background-color:  rgba(0, 0, 0, 0.9);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}

/*Padding till raderna i vardera inlägg*/ 
.edit{
    padding: 5px;
}

/*hover effekt för att visa att det är inputfält*/
.edit:hover, .edit:focus {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 5px;
}

h1, h2{
    text-align: center;
}

h3{
    margin-top: 0px;
    margin-bottom: ;
}
