/*Allmän styling*/
*{
    box-sizing: border-box;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

/*Allmän styling*/
body{
    background-color: rgb(248, 246, 240);
    color: black;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.3em;
}

/*begränsar vidd på main*/
main{
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Centrerar rubriker*/
h1, h2{
    text-align: center;
}

/*Styling av element i inläggen*/
.inline{
    display: inline-block;
    position: relative;
    bottom: -15px;
}

/*centreringsdiv till kategorivals-knapparna*/
.center{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

/*responsivt formulär*/
form{
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    padding-top: 0px;
    text-align: center;
}

/*textarea i formuläret*/
#task{
    width: 300px;
    max-width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

/*option i formulär*/
option{
    font-size: 1.1em;
}

/*Styling av linje under kategorival*/
#line{
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

/*Artikel för färdiga inlägg*/
#completed-article{
    display: none;
}

/*Styling av marginal mellan pri och färdig i varhe inlägg*/
.priority{
    margin-right: 50px;
    position: relative;
}

/*styling av div till inläggen*/
.priority1, .priority2, .priority3{
    background-color:  rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    max-width: 450px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/*hover effekt*/
.priority1:hover, .priority2:hover, .priority3:hover{
    background-color:  rgba(0, 0, 0, 0.9);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}

/*Tar bort marginaler för priority p*/
.priority1 p, .priority2 p, .priority3 p{
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Knappar för att välja lista för ofärdiga eller färdiga todos*/
#todo-btn, #completed-btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    display: inline-block;
}

/*Startstiling för färdiga todos. Ändras med script*/
#todo-btn{
    text-decoration: underline;
}

/*Knappar för att välja lista för ofärdiga eller färdiga todos*/
#todo-btn:hover, #completed-btn:hover{
    background-color: white;
}

/*Styling av knappar*/
button{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    font-size: 1.1em;
    box-shadow: 3px 3px 3px 2px rgb(0, 0, 0, 0.2);
    margin-left: 5px;
    margin-right: 5px;
    /*För att knapptext ska visas korrekt i safari på iphone*/
    -webkit-text-fill-color:black;
    margin-top: 10px;
    display: block;
}

/*Hover effekt till knappar*/
button:hover{
    background-color: rgb(201, 214, 223);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}

/*Styling av knapp för att tömma listan*/
#empty-localstorage{
    background-color: rgb(255, 183, 183);
}

/*Styling av knapp för att tömma listan*/
#empty-localstorage:hover, .remove-todo:hover{
    background-color: rgb(255, 137, 137);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}

/*Styling av ta bort knapparna till varje inlägg*/
.remove-todo{
    float: right;
    bottom: 0px;
}